/Clases/ConceptosBasicos/nbproject/private/
/Clases/ConceptosBasicos/build/
diagramaBD.img
/Clases/Tareas/nbproject/private/
/Tareas/Libro/nbproject/private/
/Tareas/TareasPOO2209/nbproject/private/
/Tareas/TareaPOO2209/nbproject/private/
/Tareas/TareaPOO2209/build/
/Clases/ReutilizacionCodigo2209/nbproject/private/
/Clases/ReutilizacionCodigo2209/build/
/Clases/ReutilizacionCodigo2209/dist/
/Clases/Tarea.video.libro/nbproject/private/
/Tareas/Tarea.video.libro/nbproject/private/
/Tareas/TareaPOO2209/dist/
/Tareas/TareaPOO2209/Composicion/nbproject/private/
/Tareas/TareaPOO2209/src/Composicion/nbproject/private/
/Tareas/TareaPOO2209/src/Composicion/dist/
/Tareas/TareaPOO2209/src/Composicion/build/
/Clases/javabasico2209/nbproject/private/
/Clases/javabasico2209/build/
